:root { 
--cyan_300_cc:#58bae1cc; 
--deep_purple_300_cc:#9d70e6cc; 
--light_blue_A400:#00b0ff; 
--blue_600_68:#2a90d868; 
--red_300:#ee675f; 
--black_900_3f:#0000003f; 
--teal_100:#9fcadb; 
--black_900_1e:#0000001e; 
--teal_400:#2ac8a2; 
--black_900_01:#010101; 
--black_900:#000000; 
--gray_500_01:#999999; 
--gray_200_01:#e6e5ea; 
--purple_A400:#cf02c7; 
--black_900_28:#00000028; 
--blue_gray_900_01:#303038; 
--blue_gray_900:#333333; 
--gray_900_02:#292828; 
--gray_600:#858585; 
--blue_gray_100:#d6d6d6; 
--gray_500:#a3a3a3; 
--blue_700:#1782d4; 
--teal_300_b2:#30c7abb2; 
--white_A700_a2:#ffffffa2; 
--gray_900_01:#130b33; 
--blue_600:#2a90d8; 
--gray_900:#252728; 
--teal_A100:#b1ffe4; 
--gray_200:#ebebeb; 
--gray_300:#e6e6e6; 
--orange_200:#efc968; 
--gray_300_01:#e1e0e0; 
--gray_100:#f7f7f7; 
--gray_100_02:#f5f4f9; 
--indigo_A700:#2c3edb; 
--gray_100_01:#f3f2f0; 
--blue_300:#5abae4; 
--white_A700:#ffffff; 
}